.main{
  overflow-x: hidden;
  overflow-y:auto;
  background-color: antiquewhite;
  height: 1000px;
  width: auto;
}

.main-body-Admin {
  background-color: rgb(255, 255, 255);
  height: 80px;
  width: auto;
  border-radius: 0px 0px 12px 12px;
}

.navbar-admin {
  margin-top: 25px;
}