
/* For Index Area */
/*******************************************************HEADER TOP MENU BAR (Red NAVIGATION BAR) *************************/
.logoutbutton{
  margin-left: -20px;
  margin-top: 0px;
  color: black;
  font-size:14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400; 
  letter-spacing: 0.8px;
  padding-top: 0px;
  transition: 0.7s;
  cursor: pointer;
}

.head-background{
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  background-image: linear-gradient(90deg, #c8df95c2, #f38b8b);
  box-shadow: #888888;
  height: 100px;
  /* position: fixed; */
}
.profile-icon{
  height: 25px;
  width: 25px;
  margin-left: 370px;
}

.announcement-icon{
  height: 25px;
  width: 25px;
}

.events-icon{
  height: 25px;
  width: 25px;
}

.colleges-news-icon{
height: 25px;
width: 25px;
}

.cic {
  color: white;
  margin-left: 400px;
  font-size: 50px;
}

.top-nav-bar{ 
  padding-top: 20px; 
  padding-bottom:10px;
  background-color: rgb(124, 18, 18);
  border-radius: 0px 0px 10px 10px; 
  /* display: block;
  position: fixed; */
}

.header-buttons{
  font-size:14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400; 
  letter-spacing: 0.8px;
  padding-top: 5px;
  transition: 0.7s;
  margin-right: 10px;
}
.header-separator{
  padding-left: 10px;
  margin-right: 10px;
}


/*BODY TITLES (NOTE: BODY TITLES ARE THE SAME TITLES WITH THE OTHER BODIES)*/
.title-container{
  padding: 70px 0px 70px 0px;
  display: block;
  color: transparent;
}

.Title-body{
 font-size: 30px;
 font-family: 'Raleway', sans-serif;
 font-weight: 600;
 color: rgb(37, 96, 77);
 letter-spacing: 2px;
 line-height: 2;
 text-align: center;
}

.Subtitle-body{
 font-size: 18px;
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
 color: rgb(93, 20, 20);
 letter-spacing: 1px;
 line-height: 2;
 text-align: center;
}

.line{
 height: 30px;
 width: 180px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;
 margin-bottom: 20px;
}



/**********************************************************************(CIC FREE DIKIT)*******************************************************************/

 .main-body-First{  
	background-color: #ffffff;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 100px;
  
  
} 

/* 
.latest-cards-container{
  padding-left: 0px; 
  padding-right: 0px; 
  padding-bottom: 90px;
  margin-top: -30px;
  align-items: center;
 
} */


.box-tip{
  width: 220px; 
  height: 440px;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
}

.box-tip:hover{
  box-shadow: 0px 10px 20px 10px #888888;
}

.image-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  padding: 0px;
  width: 70%;
}

/* [2] Transition property for smooth transformation of images */
.image-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.image-hover-zoom:hover img {
  transform: scale(1.3);
}

.latest-image{
  height:80px;
  width:70px; 
  margin-left: 70px;
  margin-top: 20px;
  padding-bottom: 15px;
}

.LT-title{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 13px;
  padding-bottom: 10px; 
  margin-top: 0px;
  text-align: center;
}

.LT-text{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
}

/*******************************************************************Newsfeed Posting****************************************/

/*********************************************************************QR CODE******************************/
.qr-container {
  width: 750px;
  height: 350px;
  background-color: #d6d5d5;
  margin-bottom: 10px;
}

/********************************************************************* Calendar ***************************/
.logoutbutton{

  margin-left: 20px;
  color: wheat;
}





#toggle--login:checked ~ .form--signup { left:200%; visibility:hidden; }
#toggle--signup:checked ~ .form--login { left:-100%; visibility:hidden; }

@media (height:300px){.legal,.photo-cred{display:none}}

 